* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2d0d1; 
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF95B2;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #A90623;
    font-family: 'Atma', cursive;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #A90623;
    font-family: 'Atma', cursive;
    font-size: 2em;
    text-shadow: 2px 2px 3px #ffffff; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px 20px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); 
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    text-align: center;
    max-width: 800px; 
    margin: 20px 0;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); 
}

img {
    width: 160px;
    height: auto;
    margin: 15px;
    border-radius: 12px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #A90623;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 23, 68, 0.4); 
}

button:hover {
    background-color: #8e0520; 
    transform: scale(1.05); 
}

footer {
    background-color: #EF95B2;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
    color: #A90623;
    font-family: 'Atma', cursive;
}

p {
    font-size: 1.5em;
    color: #A90623;
    font-family: 'Atma', cursive;
    text-align: center;
    margin-top: 10px;
}


